<h2 style="color:darkgreen; display:inline"> Canopy Care</h2> <h3 style="display:inline">request for consultation.</h3>

<hr width="150" align="left">

<h4>Patient Information:</h4>
<p>{{ form.name.data }}</p>
<p>{{ form.email.data }}</p>
<p>{{ form.phone.data }}</p>
<p>{{ form.zip.data }}</p>

<hr width="150" align="left">

<h4>Patient Message:</h4>
<p>{{ form.message.data }}</p>

<hr width="150" align="left">

<p style="font-size:small">This message is private and may contain Protected Health Information. If you are not the intended recient of this message.. Blah, blah, blah.</p>